name: "Linting"

on:
  pull_request:
    branches: [ master ]

jobs:
  golangci:
    name: Linter
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v4
        with:
          go-version: 1.19


      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3.4.0
